{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fusion</title>

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <!-- 
    - custom css link
  -->

    <!-- 
    - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>

<body id="top">
    {% csrf_token %}
    <!-- 
    - #HEADER
  -->

    <header class="header" data-header>
        <div class="container">

            <a href="#" class="logo">FUSION</a>

            <nav class="navbar" data-navbar>
                <ul class="navbar-list container">

                    <li>
                        <a href="/" class="navbar-link" data-nav-link>Home</a>
                    </li>

                </ul>
            </nav>

            <button class="nav-toggle-btn" aria-label="toggle manu" data-nav-toggler>
                <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
            </button>

        </div>
    </header>




    <main>
        <article>

            <!-- 
        - #FEATURES
      -->

            <style>
                .gap-title {
                    text-align: start !important;
                    padding-top: .7em;
                    padding-bottom: .2em;
                }
            </style>

            <section class="section features" id="features" aria-label="features">
                <div class="container" style="max-width: 900px;">

                    <p class="section-subtitle">Legal</p>

                    <h2 class="h2 section-title">Syarat dan Ketentuan</h2>

                    <h3 class="h3 section-subtitle gap-title">Gambaran Umum</h3>
                    <p class="section-subtitle"
                        style="text-align: start; color: gray; font-size: 1em; line-height: 1.4em;">
                        Selamat datang di {{app_alias_name}} (“Perusahaan,” “kami,” atau “milik kami”). Dengan
                        mengakses atau menggunakan layanan perangkat lunak dan produk terkait kami
                        (secara kolektif disebut “Layanan”), Anda setuju untuk mematuhi dan terikat oleh Ketentuan
                        Layanan ini. Mohon baca dengan cermat.
                    </p>

                    <h3 class="h3 section-subtitle gap-title">1. Penerimaan Ketentuan</h3>
                    <p class="section-subtitle"
                        style="text-align: start; color: gray; font-size: 1em; line-height: 1.4em;">
                        Dengan mengakses atau menggunakan Layanan kami, Anda mengonfirmasi bahwa Anda menerima Ketentuan
                        ini dan setuju untuk mematuhinya. Jika Anda tidak setuju dengan Ketentuan ini, Anda tidak boleh
                        menggunakan Layanan kami.
                    </p>
                    <h3 class="h3 section-subtitle gap-title">2. Perubahan Ketentuan</h3>
                    <p class="section-subtitle"
                        style="text-align: start; color: gray; font-size: 1em; line-height: 1.4em;">
                        Kami dapat merevisi Ketentuan ini dari waktu ke waktu. Setiap perubahan akan berlaku efektif
                        ketika kami memposting Ketentuan yang telah direvisi di situs web kami. Penggunaan Layanan
                        secara berkelanjutan setelah perubahan diposting menandakan penerimaan Anda terhadap Ketentuan
                        yang baru.
                    </p>
                    <h3 class="h3 section-subtitle gap-title">3. Akun Pengguna</h3>
                    <p class="section-subtitle"
                        style="text-align: start; color: gray; font-size: 1em; line-height: 1.4em;">
                        Untuk mengakses fitur tertentu dari Layanan kami, Anda mungkin diminta untuk membuat akun. Anda
                        setuju untuk:
                    <ul style="list-style-type: disc !important;">
                        <li style="list-style: disc; margin-left: 1.2em; color: gray; line-height: 2em;">Memberikan
                            informasi yang akurat, terkini, dan lengkap selama proses pendaftaran.</li>
                        <li style="list-style: disc; margin-left: 1.2em; color: gray; line-height: 2em;">Menjaga
                            keamanan kata sandi Anda dan bertanggung jawab atas segala aktivitas di akun Anda.</li>
                        <li style="list-style: disc; margin-left: 1.2em; color: gray; line-height: 2em;">Segera memberi
                            tahu kami tentang adanya penggunaan yang tidak sah atas akun Anda.</li>
                    </ul>
                    </p>
                    <h3 class="h3 section-subtitle gap-title">4. Penggunaan Layanan</h3>
                    <p class="section-subtitle"
                        style="text-align: start; color: gray; font-size: 1em; line-height: 1.4em;">
                        Anda setuju untuk menggunakan Layanan kami hanya untuk tujuan yang sah dan sesuai dengan
                        Ketentuan ini. Anda tidak boleh:
                        <li style="list-style: disc; margin-left: .3em; color: gray; line-height: 2em;">Menggunakan
                            Layanan dengan cara yang melanggar hukum atau regulasi yang berlaku.</li>
                        <li style="list-style: disc; margin-left: .3em; color: gray; line-height: 2em;">Terlibat dalam
                            perilaku yang membatasi atau menghambat penggunaan atau manfaat orang lain terhadap Layanan.
                        </li>
                    </p>
                    <h3 class="h3 section-subtitle gap-title">5. Hak Kekayaan Intelektual</h3>
                    <p class="section-subtitle"
                        style="text-align: start; color: gray; font-size: 1em; line-height: 1.4em;">
                        Semua konten, fitur, dan fungsionalitas Layanan, termasuk namun tidak terbatas pada teks,
                        grafik, logo, dan perangkat lunak, adalah hak milik eksklusif [Nama Perusahaan] dan dilindungi
                        oleh undang-undang hak cipta, merek dagang, dan hukum kekayaan intelektual lainnya.
                    </p>
                </div>
            </section>

        </article>
    </main>





    <!-- 
    - #FOOTER
  -->

    <footer class="footer">

        <div class="section footer-top">
            <div class="container">

                <div class="footer-brand">

                    <a href="#" class="logo">{{ app_alias_name }}</a>

                    <ul class="social-list">

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-google"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </a>
                        </li>

                    </ul>

                </div>

                <ul class="footer-list">

                    <li>
                        <p class="footer-list-title">Company</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">About Us</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Contact Us</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Core Services</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Our Team</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Pricing Plan</a>
                    </li>

                </ul>

                <ul class="footer-list">

                    <li>
                        <p class="footer-list-title">Get In Touch</p>
                    </li>

                    <li class="footer-item">
                        <ion-icon name="call-outline" aria-hidden="true"></ion-icon>

                        <a href="tel:+12023459999" class="item-link">+12023459999</a>
                    </li>

                    <li class="footer-item">
                        <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>

                        <a href="mailto:support{{ app_alias_name }}@gmail.com" class="item-link">support{{
                            app_alias_name }}@gmail.com</a>
                    </li>

                    <li class="footer-item">
                        <ion-icon name="map-outline" aria-hidden="true"></ion-icon>

                        <address class="item-link address">
                            {{address}}
                        </address>
                    </li>

                </ul>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">

                <p class="copyright">
                    &copy; 2024 All Rights Reserved by <a href="#" class="copyright-link">{{app_alias_name}}</a>.
                </p>

            </div>
        </div>

    </footer>





    <!-- 
    - #BACK TO TOP
  -->

    <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
        <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
    </a>





    <!-- 
    - custom js link
  -->
    <script src="{% static 'js/index.js' %}"></script>

    <!-- 
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</body>

</html>