compro/app/__pycache__
compro/app/migrations
compro/compro/migrations
compro/compro/__pycache__
compro/viewer/__pycache__
compro/services/__pycache__
compro/penv
compro/root_conf.json
compro/staticfiles
compro/static/.DS_Store
compro/updater.sh
compro/*.sqlite3